.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 14, 14);
}

.App-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 246, 246);
}